:root{
    --conten-color:#440099;
    --content-color-secundary: #FF6A13;
    --off-white:#FAF8F7;
    --soft-blue:#E7F5FF;
    --secondary-blue:#1A9AF7;
    --black-secundary:#171717;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: var(--content-color-secundary);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar  {
    display: block;
    padding: 20px 20px;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #444444;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 60vh !important;
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--off-white);
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: var(--off-white);
    padding: 0 100px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid var(--content-color-secundary);
    color:var(--off-white);
    text-decoration: none;
    background: var(--content-color-secundary);
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
       margin: 0 10px;
}


.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about title{
    margin-top: 10px;
}
.sau {
    padding: 30px;
    background: #1f1d1d;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem #0a0a0a(0, 0, 0, .5);
    margin: 2rem; 
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: var(--off-white);
    background: var(--content-color-secundary);
    font-size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: var(--content-color-secundary);

}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;

}

.about {
    background: var(--black-secundary);
}

.price {
    background: url(../img/costos.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact {
    padding-top: 20px;
    background: var(--black-secundary);
    padding-bottom: 0;
}
.ImgControl{
    transform: rotate(90deg);
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 120vh;
    }

    .navbar {
        display: none;
    }
}